*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 200, 200);
}

.container{
    width: 750px;
    height:90vh;
    display: flex;
}


.left-section,
.right-section{
    width: 375px;
    height: 100%;
}

.left-section img{
    width: 375px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.right-section{
    background-color:rgb(238, 238, 238);
    width:375px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

input{
    width: 100%;
    padding: 0.8rem;
    border-radius: 10px;
    border:2px solid #999;
    letter-spacing: 0.06rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

input:focus{
    outline: none;
}

.submit-btn{
    width: 100%;
    border-radius: 10px;
    height: 2.7rem;
    border: 1px solid silver;
    color:whitesmoke;
    background-color: rgb(52, 52, 253);
    font-weight: 600;
    letter-spacing: 0.04rem;
    cursor: pointer;
    margin-top: 1.4rem;
    transition: all 0.15s ease-in;
}

.submit-btn:hover{
    transform: translateY(-2px);
}

.submit-btn:active{
    transform: translateY(0px);
}

.error{
    color: red;
}
