.price{
    margin-left: 1.2rem;
}

.price-title{
    margin-bottom:0.2rem;
}
.price {
  margin-bottom: 1.5rem;
}

.price-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;
}

.radio-label input {
  display: none;
}

.custom-radio {
  width: 16px;
  height: 16px;
  border: 2px solid #555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-label input:checked + .custom-radio {
  border-color: #999;
}

.radio-label input:checked + .custom-radio::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: blue;
  border-radius: 50%;
}
