*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    background-color: whitesmoke;
    width: 100%;
    min-height:100vh;
    padding: 0 2rem 0 2rem;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.search-container{
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container input{
    width: 600px;
    height: 2.4rem;
    margin-right: 2rem;
    padding-left:1rem;
    letter-spacing: 0.05rem;
    border-radius: 15px;
    border: 2px solid gray;
}

.search-container input:focus{
    outline: none;
}

.submit-btn{
    background-color: rgb(45,45,45);
    width: 100px;
    height: 2.4rem;
    color: whitesmoke;
    border-radius: 15px;
    border:none;
    cursor: pointer;
    transition: transform 0.25s ease;
    font-weight: 600;
}

.submit-btn:hover{
    transform: translateY(-2px);
}

.submit-btn:active{
    transform: translateY(0px);
}

.meal-container{
    width: 100%;
    padding:2rem;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
}

.meal-card{
    max-width: 250px;
    height: 16rem;
}

.meal-card:hover{
    transform: translateY(-2px);
}

.meal-card img{
    width: 250px;
    margin-bottom: 4px;
}

.info-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 3px 0 3px;
}