*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#root{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

.container{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    padding: 2.4rem 2.3rem 1.5rem 2.3rem;
    border-radius: 10px;
    box-shadow:3px 4px 4px rgba(0,0,0,0.2);
    z-index: 1;
}

.quote-section{
    width: 100%;
    text-align: center;
    padding-bottom: 0.4rem;
}

.author-section{
    font-weight: 550;
    padding: 0.3rem;
    margin-top: 5px;
}

.btns-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

button{
    background-color: rgb(18, 18, 255);
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.25s ease;
    font-weight: 600;
}

button:hover{
    transform: translateY(-2px);
}

button:active{
    transform:translateY(0px);
}


