*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(30,30,30);
}

#root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number{
    font-size: 7rem;
    font-weight: 600;
    color: white;
    margin-bottom: 5rem;
}

.btns-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.increment,
.decrement,
.reset{
    border-radius:100%;
    padding: 15px;
    background-color: rgb(40,40,40);
    transition: all 0.25s ease;
    color: gray;
    cursor: pointer;
}

.increment:active,
.decrement:active,
.reset:active{
    transform: translateY(-2px);
}
