*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35,35,35);
}

.container{
    width:55%;
    padding: 1rem;
}

.accordion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.accordion-card{
    width: 100%;
    background-color: rgb(70,70,70);
    margin: 0.4rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    color: whitesmoke;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content{
    margin-top: 1.5rem;
    transition: transfrom 0.25s ease;
}