*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


#root{
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 550px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.input-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 15px;
    min-height: 10rem;
}

.input-container input{
    width: 290px;
    height: 2.3rem;
    padding-left: 10px;
    border-radius: 15px;
    border: 1.5px solid gray;
    font-size: 14px;
    letter-spacing: 0.06rem;
    background: whitesmoke;
}

.input-container input:focus{
    outline: none;
} 

.submit-btn{
    width:100px;
    height: 2.3rem;
    margin-left: 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(45,45,45);
    color: white;
    cursor: pointer;
    transition: transform  0.25s ease ;
}

.submit-btn:hover{
    transform: translateY(-2px);
}

.submit-btn:active{
    transform: translateY(0px);
}

.todo-container{
    width: 100%;
    padding: 1rem;
}

#list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 1rem;

}

#list-container li{
    width: 96%;
    display: flex;
    height: 2.6rem;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding:0px 15px 0px 15px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 10px;
    border: 1px solid gray;
}

#list-container li:hover{
    transform: translateY(-2px);
}

.close{
    background-color: rgb(45,45,45);
    border: 1px solid rgb(35,35,35);
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    color: whitesmoke;
    cursor: pointer;
}