*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
}

input{
    width: 500px;
    height: 2.7rem;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    letter-spacing: 0.05rem;
    font-weight: 500;
}

input:focus{
    outline: none;
}