.category {
  margin-bottom: 1.3rem;
}

.category-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
  font-size: 16px;
}

.radio-label input {
  display: none;
}

.custom-radio {
  width: 17px;
  height: 17px;
  border: 2px solid #555;
  border-radius: 100%;
  margin-right: 5px;
  position: relative;
}

.radio-label input:checked + .custom-radio::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: rgb(5, 5, 252);
  border-radius: 100%;
  position: absolute;
  top: 7px;
  left:7px;
  transform: translate(-50%, -50%);
}

.radio-text{
    font-size: 16px;
}
